/*
  Animation State style
*/
@sub-title-height: 30px;

.animation-list {
	.row-demo {
		margin-top: 10px;
		background-color: #efefef;
	}

	.sub-title {
		height: @sub-title-height;
		line-height: @sub-title-height;
		font-size: 16px;
		font-weight: bold;
	}
	
	svg.demo-svg {
		display: block;

		polygon {
		  fill: red; // 多边形填充红色
		}
		
		circle {
			fill: transparent; /* 圆内部空心 */
			stroke: lightgray;
		}	
	}

	input[type="range"] {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
}

